{% extends "base.html.twig" %}

{% block body %}
            <section class='contentPanel'>
                <article class='welcome'>
                    <h1>{{ welcome }}</h1>

                    <a class='btn' href="{{ path('app_news') }}">ACCEDER</a>

                    <div class="iconPanel">
                     <a href="http://localhost:4200/inicio"><img src="{{asset('images/return.png')}}"/></a>
                    <a href="{{ path('app_logout') }}"><img src="{{asset('images/off.png')}}"/></a>                   
                    </div>

                </article>
            </section>


{% endblock %}

